
.heading {
  background-color: #FFFFFF;
  
}

body {
  background-image: url("../images/sacareamap.png");
  background-size: cover;
  background-attachment: fixed;
}

.custom-panel {
  padding: 0 200px;
  border-radius: 10px !important;
  

}

.sidebar {
  border-right: 1px solid lightgrey;
 
  background-color: #F6F8FC;

}


.card-header {
  background-color: #FFFFFF;
}

.main {
  background-color: #F6F8FC;
  padding: 0 0px;
}

.card-body {
  background-color: #FCFBFF;
}

.side {
  display: block;
}


